*.pyc
*.swp
*.swo
*.gz
*.bin
*.pickle
*.pickel
*.npy
*.xlsx
*.csv
.venv/
tmp/
__pycache__/
tests/__pycache__/
**/.pytest_cache/
output.xml
**/output/
**/data/
data/
lib
results/
.ipynb_checkpoints/
.vscode/
.spyproject/
.coverage
pending_deletes/
deprecated/
desktop.ini
global_corpus_index.txt
nohup.out
src/3_text_analysis/*.txt