*.pyc
*.swp
*.swo
*.gz
*.bin
.venv/
tmp/
__pycache__/
test/__pycache__/
papacy_scraper/__pycache__/
papacy_scraper/spiders/__pycache__/
output.xml
**/output/
**/data/
data/
lib
results/
.ipynb_checkpoints/
.vscode/
.spyproject/
Archive/
desktop.ini
