[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
requests = "*"
ipython = "*"
bokeh = "*"
beautifulsoup4 = "*"
humanfriendly = "*"
ipywidgets = "*"
matplotlib = "*"
msgpack-python = "*"
networkx = "*"
nltk = "*"
numpy = "*"
pandas = "*"
psutil = "*"
pydotplus = "*"
scattertext = "*"
scipy = "*"
scikit-learn = "*"
smart-open = "*"
spacy = "*"
tensorflow = "*"
textacy = "*"
typing = "*"
wordcloud = "*"
Pympler = "*"
Scrapy = "*"
jupyter = "*"
jupyter-console = "*"
qtconsole = "*"
isort = "*"
lazy-object-proxy = "*"
typed-ast = "*"
astroid = "*"
mccabe = "*"
pylint = "*"
community = "*"
gensim = "*"
cython = "*"
jupyterlab = "*"
python-louvain = "*"
stanfordnlp = "*"
notebook = "*"
prompt-toolkit = "==2.0.5"
beakerx = "*"
py4j = "*"
ftfy = "*"
en-core-web-sm = {file = "https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.1.0/en_core_web_sm-2.1.0.tar.gz"}
en-core-web-lg = {file = "https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-2.1.0/en_core_web_lg-2.1.0.tar.gz"}
rake-nltk = "*"

[requires]
python_version = "3.7"
