[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupytext = "*"
pipenv = "*"
pipreqs = "*"
pylint = "*"
pytest = "<=5.0.1"
pytest-cov = "*"
rope = "*"
yapf = "*"

[packages]
beakerx = "*"
beautifulsoup4 = "*"
bokeh = "*"
Cython = "*"
cytoolz = "*"
decorator = "*"
en-core-web-lg = {file = "https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-2.1.0/en_core_web_lg-2.1.0.tar.gz"}
en-core-web-sm = {file = "https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.1.0/en_core_web_sm-2.1.0.tar.gz"}
ftfy = "*"
gensim = "*"
humanfriendly = "*"
ipywidgets = "*"
jupyterlab = "*"
lxml = "*"
matplotlib = "*"
msgpack-python = "*"
networkx = "*"
nltk = "*"
numpy = "*"
openpyxl = "*"
pandas = "*"
py4j = "*"
pydotplus = "*"
pylint = "*"
python-louvain = "*"
# rake-nltk = "*"
requests = "*"
scattertext = "*"
scikit-learn = "*"
scipy = "*"
Scrapy = "*"
smart-open = "*"
spacy = "*"
sql_magic = "*"
stanfordnlp = "*"
statsmodels = "*"
# tensorflow = "*"
textacy = "*"
# torch = "*"
# torchvision = "*"
traitlets = "*"
typing = "*"
wordcloud = "*"
xlrd = "*"

[requires]
python_version = "3.7.5"
